assets/SCRIPTS/script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" selementFormDefault="qualified">
  <xsd:element name="character">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="characterName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="fileName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
